{% if button_type == 'email' %}
  {% set url = "mailto:" ~ info %}
  {% set title = 'Email'|t %}
{% elseif button_type == 'call' %}
  {% set url = "tel:" ~ info %}
  {% set title = 'Call'|t %}
{% elseif button_type == 'website' %}
  {% set url = info %}
  {% set title = 'Website'|t %}
{% endif %}

{% macro getIcon(button_type) %}
  {% if button_type == 'email' %}
    <svg width="20" height="20" viewBox="0 0.14 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 14.4958V27.5714C0 30.0962 2.0467 32.1429 4.57143 32.1429H27.4286C29.9533 32.1429 32 30.0962 32 27.5714V14.4958L18.3959 22.8675C16.9266 23.7717 15.0734 23.7717 13.6041 22.8675L0 14.4958Z" fill="currentColor"/>
      <path d="M32 11.8119V11.5714C32 9.0467 29.9533 7 27.4286 7H4.57143C2.0467 7 0 9.0467 0 11.5714V11.8119L14.8021 20.9209C15.5367 21.373 16.4633 21.373 17.1979 20.9209L32 11.8119Z" fill="currentColor"/>
    </svg>
  {% elseif button_type == 'call' %}
      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
        <path d="M224.2 89C216.3 70.1 195.7 60.1 176.1 65.4L170.6 66.9C106 84.5 50.8 147.1 66.9 223.3C104 398.3 241.7 536 416.7 573.1C493 589.3 555.5 534 573.1 469.4L574.6 463.9C580 444.2 569.9 423.6 551.1 415.8L453.8 375.3C437.3 368.4 418.2 373.2 406.8 387.1L368.2 434.3C297.9 399.4 241.3 341 208.8 269.3L253 233.3C266.9 222 271.6 202.9 264.8 186.3L224.2 89z"  fill="currentColor"/>
      </svg>
  {% elseif button_type == 'website' %}
   <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
    <path d="M415.9 344L225 344C227.9 408.5 242.2 467.9 262.5 511.4C273.9 535.9 286.2 553.2 297.6 563.8C308.8 574.3 316.5 576 320.5 576C324.5 576 332.2 574.3 343.4 563.8C354.8 553.2 367.1 535.8 378.5 511.4C398.8 467.9 413.1 408.5 416 344zM224.9 296L415.8 296C413 231.5 398.7 172.1 378.4 128.6C367 104.2 354.7 86.8 343.3 76.2C332.1 65.7 324.4 64 320.4 64C316.4 64 308.7 65.7 297.5 76.2C286.1 86.8 273.8 104.2 262.4 128.6C242.1 172.1 227.8 231.5 224.9 296zM176.9 296C180.4 210.4 202.5 130.9 234.8 78.7C142.7 111.3 74.9 195.2 65.5 296L176.9 296zM65.5 344C74.9 444.8 142.7 528.7 234.8 561.3C202.5 509.1 180.4 429.6 176.9 344L65.5 344zM463.9 344C460.4 429.6 438.3 509.1 406 561.3C498.1 528.6 565.9 444.8 575.3 344L463.9 344zM575.3 296C565.9 195.2 498.1 111.3 406 78.7C438.3 130.9 460.4 210.4 463.9 296L575.3 296z"  fill="currentColor"/>
   </svg>
  {% endif %}
{% endmacro %}

<div class="person-card-button text-center w-full h-full">

  <a href="{{ url }}" target="_blank" class="py-4 block object-fill w-full h-full place-items-center flex flex-row justify-center gap-2">
    <span class="person-card-button-icon text-gray-400 hover:text-gray-800">
      {{ _self.getIcon(button_type) }}
    </span>
    <span class="text-gray-700">
      {{ title }}
    </span>
  </a>

</div>
